/* Box Model Fix */
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
    margin: 0px;
}

.wrapper {
    width: 90vw;
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
    position: relative;
}

header {
    background-color: #eaeaea;
}

header .wrapper {
    height: 127px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

header img {
    height: 50px;
}

header nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
}

header nav ul li {
    margin-left: 23px;
    padding-left: 23px;
    position: relative;
}

header nav ul li a {
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 17px;
    text-transform: uppercase;
    color: #494949;
    cursor: pointer;
}

header nav ul li:first-of-type {
    margin-left: 0;
    padding-left: 0;
}

header nav ul li::before {
    position: absolute;
    display: block;
    content: '';
    width: 2px;
    height: 100%;
    background-color: black;
    left: 0;
}

header nav ul li:first-of-type::before {
    display: none;
}

.banner {
    background: url(../../img/bg-main.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 768px;
    color: white;
}

.banner img {
    position: absolute;
    right: 0;
    top: 50px;
}

.banner .wrapper {
    padding-top: 260px;
}

.banner h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    text-transform: capitalize;
    margin: 0;
}

.banner p {
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    max-width: 571px;
    margin-top: 25px;
}

.banner button {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 17px;
    text-transform: uppercase;
    border: 2px solid white;
    width: 190px;
    height: 50px;
    background-color: transparent;
    color: white;
    margin-top: 30px;
    cursor: pointer;
}

.progress {
    height: 990px;
    background-color: #eaeaea;
}

.progress h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 45px;
    text-transform: uppercase;
    padding-top: 125px;
    text-align: center;
    position: relative;
}

.progress h2::after,
.progress h2::before {
    content: '';
    background-image: url(../../img/curvy-line.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 102px;
    height: 28px;
    display: inline-block;
}

.progress h2::after {
    margin-left: 25px;
}

.progress h2::before {
    margin-right: 25px;
}

.progress h2+p {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    line-height: 30px;
    color: #959595;
    text-align: center;
}

.progress ul {
    padding-left: 0;
    margin-top: 40px;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.progress li {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 15px;
    text-transform: uppercase;
    margin-left: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
    position: relative;
    cursor: pointer;
}

.progress li::before {
    content: '';
    width: 2px;
    height: 15px;
    background-color: #494949;
    position: absolute;
    margin-left: -20px;
}

.progress li:first-of-type::before {
    display: none;
}

.progress li:first-of-type {
    margin-left: 0;
    padding-left: 0;
}

.progress li.active {
    border-bottom: 4px solid #ee252d;

}

.progress li.active::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-bottom: 7px solid #ee252d;
    margin: 0 auto;
}

.steps {
    background-color: white;
    height: 405px;
    width: 100%;
    margin-top: 44px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 55px;
    padding-right: 70px;
    padding-top: 70px;
}



.steps article p:first-of-type {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 120px;
    position: relative;
}

.steps article p:first-of-type::after {
    content: '';
    background-repeat: none;
    position: absolute;
    display: inline-block;
    margin-left: 15px;
}

.steps article:first-of-type p:first-of-type::after {
    background-image: url(/img/icon1.png);
    width: 126px;
    height: 71px;
    top: calc(50% - 35px);
}

.steps article:nth-of-type(2) p:first-of-type::after {
    background-image: url(/img/icon2.png);
    width: 184px;
    height: 81px;
    top: calc(50% - 40px);
}

.steps article:nth-of-type(3) p:first-of-type::after {
    background-image: url(/img/icon3.png);
    width: 142px;
    height: 68px;
    top: calc(50% - 34px);
}

.steps article h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 45px;
    text-transform: uppercase;
}

.steps article h3+p {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    max-width: 250px;
    margin-top: 15px;
}

.progress button {
    width: 469px;
    height: 93px;
    background-image: url(/img/shape.png);
    background-repeat: no-repeat;
    background-position: center center;
    border: none;
    background-color: transparent;
    margin: 70px auto 0;
    display: block;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 30px;
    line-height: 24px;
    text-transform: uppercase;
    color: #fff;
    cursor: pointer;
}

footer {
    height: 105px;
    background: url(/img/bg-footer.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: #eaeaea;
    text-align: center;
    padding-top: 45px;
    text-transform: uppercase;
}

@media (max-width:1200px) {
    header img {
        height: 45px;
    }

    header .wrapper {
        height: 100px;
    }

    .banner {
        height: calc(100vh - 45px);
        max-height: 500px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .banner .wrapper {
        padding: 0;
    }

    .banner img {
        display: none;
    }

    .progress {
        height: fit-content;
        padding-bottom: 50px;
    }

    .progress button {
        margin-top: 50px;
    }

    .steps {
        display: inline-flex;
        gap: 30px;
        height: fit-content;
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 55px;
        position: relative;
    }

}

@media (max-width:900px) {
    header .wrapper{
        flex-direction: column;
        padding: 20px 0;
        height: auto;
        }

        header nav ul{
            padding: 20px 0 0 0;
            flex-wrap: wrap;
            justify-content: space-around;
        }

        .progress h2::after, .progress h2::before {
            display: none;
        }

        .progress h2{
            padding-top: 80px;
        }
}

@media (max-width:600px) {

    .banner {
        height: calc(100vh - 185px);
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    header nav ul {
        flex-direction: column;
    }
    header nav ul li, header nav ul li:first-of-type{
        margin-left: 0px;
        padding-left: 20px;
    }
    header nav ul li:first-of-type::before {
        display:block;
    }
}